@charset "UTF-8";
@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../css/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../css/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: "Wingdings";
  font-style: normal;
  font-weight: normal;
  src: url("../css/fonts/wingdings_3/Wingdings3.eot?#iefix") format("embedded-opentype"), url("../css/fonts/wingdings_3/Wingdings3.ttf") format("truetype"); }
html {
  font-size: 14px; }

body {
  font-size: 14px;
  min-width: 320px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  margin: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

h1 {
  font-size: 3em; }

.header-main {
  position: relative; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

#masthead {
  position: relative;
  background-image: url("../img/money.jpg");
  background-size: cover;
  position: relative; }
  #masthead::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(82, 137, 168, 0.5); }
  #masthead .title-wrap {
    margin-top: 15%;
    margin-bottom: 20%;
    text-align: center;
    color: #2fe371;
    text-shadow: 3px 3px 2px #000; }

.site-header .logo * {
  display: inline-block; }
.site-header .logo img {
  width: 50px; }

.top-line {
  display: block;
  background: #5289a8;
  width: 100%; }

#page .site-header .header-main .main-navigation li {
  background: #5289a8;
  padding: 5px 0; }
#page .site-header .header-main .main-navigation a {
  background-color: transparent;
  color: #f1f1f1;
  transition: all ease .5s ;
  border: none; }
#page .site-header .header-main .main-navigation a:hover{
  color: #444;
}
.teaser {
  background: #028944; }
  .teaser .container {
    width: auto;
    border: 3px solid #d3e3e0; }
  .teaser .row > * {
    padding: 0; }
    .teaser .row > *:first-child .item {
      border-left: none; }
      .teaser .row > *:first-child .item::before {
        display: none; }
    .teaser .row > * .item-content p {
      font-size: 12px; }
    .teaser .row > *:last-child .item {
      border-right: none; }
  .teaser .item {
    color: #f1f1f1;
    height: 80px;
    position: relative;
    padding-left: 30px; }
    .teaser .item h3 {
      color: #f1f1f1; }
    .teaser .item::before {
      position: absolute;
      content: "›";
      bottom: -81px;
      left: -25px;
      color: #d3e3e0;
      font-size: 182px; }

#content::before, #content::after {
  clear: both;
  content: "";
  display: table; }

a {
  outline: none !important;
  font-family: "Roboto", sans-serif; }
  a:hover {
    text-decoration: none; }

strong, b {
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Roboto", sans-serif; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.site-header {
  color: #fff;
  position: relative; }
  .site-header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold; }

    .site-header .header-main .logo {
      float: left;
      position: relative;
      top: 5px;
      display: inline-block;
      padding-left: 2.7%;
      padding-right: 2%; }
      .site-header .header-main .logo h3 {
        font-weight: bold;
        font-size: 12px;
        font-family: "Times New Roman";
        text-transform: uppercase;
        margin: 0;
        line-height: 2px; }
    .site-header .header-main .toggle_mnu {
      display: none; }
    .site-header .header-main .header-items {
      float: right; }
      .site-header .header-main .header-items li {
        display: inline-block;
        padding: 15px 10px;
        vertical-align: middle; }
        .site-header .header-main .header-items li a {
          font-size: 0;
          padding: 12px;
          background-position: 0 0;
          border: none;
          background-image: url("../img/icons.png");
          -webkit-transition: all 0.4s ease;
                  transition: all 0.4s ease;
          border-color: #1445ac; }
          .site-header .header-main .header-items li a:hover {
            background-color: #1a58d9;
            border: 1px solid #1445ac; }
          .site-header .header-main .header-items li a:active {
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }
    .site-header .header-main .main-navigation {
      float: left;
      clear: none;
      width: auto; }
      .site-header .header-main .main-navigation li {
        background-color: #3e75e8; }
        .site-header .header-main .main-navigation li a {
          padding: 10px;
          text-transform: uppercase; }
        .site-header .header-main .main-navigation li .sub-menu {
          width: auto;
          top: 57px; }
    .site-header .header-main .nav-menu {
      text-align: center;
      max-height: 100%;
      opacity: 1; }
      .site-header .header-main .nav-menu > li {
        display: inline-block;
        width: auto;
        padding: 15px 0; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 20px; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  display: block; }

svg path {
  fill: #e0e0e0; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.toggle_mnu {
  left: -5px;
  top: -5px;
  position: absolute;
  background-color: transparent; }
  .toggle_mnu .touch-button {
    display: none; }

/*# sourceMappingURL=header.css.map */