* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#content .secondary-toggle {
  display: none; }
.Products .item{
  min-height: 350px;
  position:relative;
  border:1px solid; 
  display: block; 
  text-align: center; 
  margin: 15px 0;
}
.fill {
  display: table;
  margin: 0 auto;
  background: #eceff2;
  width: 100%; }
  .fill .title {
    color: #1d1d1d; }
  .fill .wrap-row {
    display: table-row; }
    .fill .wrap-row .wrap-cell {
      display: table-cell;
      vertical-align: middle;
      padding-top: 50px;
      vertical-align: middle; }
      .fill .wrap-row .wrap-cell .form {
        border: 2px solid #9a9a9a;
        position: relative;
        text-align: center;
        background-image: url("../img/cart.jpg");
        margin: 0 auto;
        margin: 0 40px;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        padding: 100px 15px; }
        .fill .wrap-row .wrap-cell .form::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(64, 48, 48, 0.3);
          top: 0;
          left: 0; }
        .fill .wrap-row .wrap-cell .form .to-in {
          margin-right: -5px; }
        .fill .wrap-row .wrap-cell .form .from-in {
          margin-left: -5px; }
        .fill .wrap-row .wrap-cell .form input {
          padding: 10px 30px;
          position: relative;
          top: -40px;
          background: #cdcdcd;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          border: none; }
        .fill .wrap-row .wrap-cell .form .submit {
          padding: 30px;
          margin-left: 10px;
          border: none;
          background: -webkit-gradient(linear, left top, left bottom, from(#FFB200), to(#d18410));
          background: -webkit-linear-gradient(top, #FFB200, #d18410);
          background: linear-gradient(to bottom, #FFB200, #d18410);
          text-transform: uppercase;
          font-weight: bold; }
        .fill .wrap-row .wrap-cell .form > * {
          display: inline-block;
          font-size: 20px; }
        .fill .wrap-row .wrap-cell .form .checkbox {
          min-height: 120px;
          text-align: left;
          padding: 40px;
          color: #d1d1d1;
          position: relative;
          z-index: 10; }
          .fill .wrap-row .wrap-cell .form .checkbox ul {
            display: inline-block; }
          .fill .wrap-row .wrap-cell .form .checkbox p {
            font-size: 20px; }
          .fill .wrap-row .wrap-cell .form .checkbox input {
            display: none; }
          .fill .wrap-row .wrap-cell .form .checkbox input + label span {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: -1px 4px 0 0;
            vertical-align: middle;
            background-image: url("../img/sprites/spritev.png");
            background-size: cover;
            background-position: 0 -74px;
            cursor: pointer; }
          .fill .wrap-row .wrap-cell .form .checkbox input:checked + label span {
            background-image: url("../img/sprites/spritev.png");
            background-position: 0 44px; }
        .fill .wrap-row .wrap-cell .form .info {
          color: #d1d1d1;
          margin-top: 10px;
          text-align: left; }
          .fill .wrap-row .wrap-cell .form .info title {
            text-align: left; }

.red {
  font-size: 20px; }
.site-content .item{
  padding: 10px;
  border: 2px solid;
  display: block;
  min-height: 250px;
  margin-bottom: 30px;
  text-align: center;
}
.button{
  display: inline-block;
  background: #05a;
  border: none;
  text-align: center;
  
  padding: 5px 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  transition: all .5s ease;
}
.site-content .Product .button:hover{
  background: #013;
}
.site-content .Product .item-content *{
  margin-top: 20px;
}
.site-content .Product 
.choice-count .title h3 {
  border-color: #3e75e8; }

section {
  padding: 40px 0; }
  section .title {
    text-align: center;
    padding: 20px 0;
    color: #d1d1d1; }
    section .title h3 {
      border-bottom: 1px solid #33251F;
      width: 30%;
      padding-bottom: 1px;
      margin: 0 auto; }

.choice {
  background-image: url("../img/bg-2.jpg");
  position: relative; }
  .choice .title-choice {
    text-align: center;
    color: #1d1d1d; }
  .choice::before {
    background: rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    margin-top: -40px;
    width: 100%;
    height: 100%;
    position: absolute; }
  .choice .wrap-c {
    position: relative; }
  .choice p {
    padding: 5px 0; }
  .choice .item-choice {
    padding: 20px 0 30px;
    border: 1px solid #cdcdcd; }
    .choice .item-choice .button {
      display: block;
      padding: 15px;
      width: 90%;
      margin: 20px auto;
      background: #d1d1d1;
      border: none;
      -webkit-border-radius: 3px;
              border-radius: 3px; }

.choice-count {
  background-image: url("../img/country.jpg");
  background-size: cover;
  height: 770px; }
  .choice-count .wrap {
    display: table;
    height: 100%;
    margin: 0 auto; }
    .choice-count .wrap .wrap-center {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .choice-count .wrap .wrap-r {
      display: table-row; }
  .choice-count .item * {
    display: inline-block; }
  .choice-count .item {
    background: #1d1d1d;
    display: block;
    border: 1px solid #3e75e8;
    padding: 8px 8px 2px;
    margin-bottom: 50px; }
    .choice-count .item h3 {
      position: relative;
      margin-left: 5px;
      top: -12px; }

#primary {
  width: 75.8%;
  float: left;
  padding: 0 120px 0 35px; }

#secondary {
  width: 24.2%;
  padding: 0 45px 0 10px;
  float: left;
  height: 100%; }

#colophon {
  padding: 20px 0 0;
  background: #040e23; }
  #colophon .item {
    text-align: center; }
    #colophon .item ul {
      display: inline-block;
      min-width: 200px;
      text-align: left; }
    #colophon .item li {
      width: 70%;
      margin: 0 auto; }
  #colophon .title {
    text-align: center;
    width: 70%;
    margin: 0 auto 10px; }
    #colophon .title h3 {
      padding-left: 10px;
      color: #d1d1d1;
      padding-bottom: 3px;
      border-bottom: 1px solid #3e75e8; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1260px) {
  .fill .wrap-row .wrap-cell .form .submit {
    padding: 15px 50px;
    margin: 0 auto;
    margin-top: 75px;
    display: block; }
  .fill .wrap-row .wrap-cell .form .to-in, .fill .wrap-row .wrap-cell .form .from-in {
    padding: 5px 0; }
  .fill .wrap-row .wrap-cell .form .checkbox {
    padding: 20px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .teaser .row > *:nth-child(3) .item::before {
    display: none; }
  .teaser .item::before {
    bottom: -36px;
    font-size: 100px;
    left: -10px; }
  .fill .wrap-row .wrap-cell .info {
    margin-top: -50px; }
  .fill .wrap-row .wrap-cell .form {
    padding: 60px 15px; }
    .fill .wrap-row .wrap-cell .form .submit {
      margin-top: 125px; }
    .fill .wrap-row .wrap-cell .form input {
      top: -100px; }
    .fill .wrap-row .wrap-cell .form .checkbox {
      min-height: 235px; }
      .fill .wrap-row .wrap-cell .form .checkbox ul {
        display: block; } }
#block-step{
  height: 70px;
  border-bottom: 1px solid #f1f2f2;
  margin-top: 10px;
}
#block-step > p{
  font: 19px sans-serif;
  color: #000;
  margin-top: 8px;
  margin-left: 15px;
  position: absolute;
}
#block-step > a{
  
  border: 1px solid;
  font: bold 12px sans-serif;
  padding: 4px 7px;
  margin: 5px 0 0 700px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  background: #111;
}
#name-step{
  height: 30px;
}
#name-step li{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#name-step li a{
  color: #1d1d1d;
  font: bold 14px sans-serif;
  text-decoration: none;
  border-bottom: 1px dashed #ef662b;
}
#name-step li strong.active{
  color: #ef662b;
  font: bold 14px sans-serif;
  border-bottom: 1px dashed #ef662b;

}
#name-step li a:hover{
  color: #ef662b;
  
}
#cart{
  text-align: center;
  margin: 0 50px 20px 30px;
}
#cart .count{
  background: #113388 none repeat scroll 0 0;
  border: 1px solid;
  color: #fff;
  font: bold 14px bold;
  margin: 5px 25px;
  cursor: pointer;
}
#cart #completion-info li *{
  width: 200px;
  display: inline-block;

}
#cart #completion-info li strong{
  text-align: right;
  padding-right: 5px;
  border-right: dashed 1px black;
}
#cart #completion-info li span{
  text-align: left;
  padding-left: 5px;
}
#cart form{
  text-align: left;
  padding: 0 30px;
}
#cart table td{
vertical-align:middle;

}
#cart table .delete-cart a{
background: #000;
color: #f1f1f1;
transition: all .5s ease;
padding: 10px 13px;
border-radius: 50%;
margin: 20px;
}
#cart table td{

 border: 1px solid #d1d1d1;
 text-align: center;

}
#cart table th{
  font-size: 12px;
  padding: 3px 5px;
 border: 1px solid #000;


}
#cart table .price span{
 color: #515151;
 font-size: 12px;
}
#cart table .price p{
 color: #1d1d1d;
 font-weight: bold;
 margin: 0 20px;
}
#cart table input{
  text-align: center;
  width: 50px;
}
#cart table .delete-cart a:hover{
  background: #a5a5a5;
  color: #5f0000;
}
#cart form label{
width: 100px;

display: inline-block;
}
#cart form input, #cart form textarea{
margin: 10px;
padding: 5px;

}
#cart #info-order li:last-child label, #cart #info-order li:last-child span{
position: relative;
bottom: 35px;

}

#cart table thead tr{
  border-spacing: 20px 20px;
}
#cart table th{
  height: 30px;
  padding-left: 5px;
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .fill .wrap-row .wrap-cell {
    padding-top: 15px; }
  #page .teaser .row > *:nth-child(3) .item::before {
    display: block; }
  #page .teaser .row > * .item {
    padding: 0;
    padding: 30px 0;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#028944), to(#4E838A));
    background: -webkit-linear-gradient(top, #028944, #4E838A);
    background: linear-gradient(to bottom, #028944, #4E838A); }
    #page .teaser .row > * .item::before {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      left: 15px;
      right: 0;
      width: 50px;
      bottom: 45px;
      margin: 0 auto; }
  #content .fill .wrap-row .wrap-cell .form {
    margin: 0 10px; }
    #content .fill .wrap-row .wrap-cell .form input, #content .fill .wrap-row .wrap-cell .form .checkbox {
      display: block;
      top: auto;
      text-align: center;
      margin: 0 auto;
      padding: 5px 50px; }
    #content .fill .wrap-row .wrap-cell .form .checkbox {
      border: none;
      min-height: auto;
      margin: 10px auto; }
      #content .fill .wrap-row .wrap-cell .form .checkbox ul {
        display: inline-block; }
      #content .fill .wrap-row .wrap-cell .form .checkbox input {
        display: none; }
    #content .fill .wrap-row .wrap-cell .form .submit {
      margin: 25px auto 10px;
      text-transform: capitalize; }
    #content .fill .wrap-row .wrap-cell .form .info p {
      font-size: 12px; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #content .fill .wrap-row .wrap-cell .form input {
    padding: 5px 0; }
  #content .fill .wrap-row .wrap-cell .form .submit {
    padding: 5px 10px; }
  .choice-count .item img {
    width: 33px;
    height: 17px; }
  .choice-count .item h3 {
    font-size: 12px;
    top: -4px; }
  #colophon .item ul {
    font-size: 12px;
    margin-right: 25px;
    min-width: auto; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
