@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1260px)
	.fill .wrap-row .wrap-cell .form
		.submit
			padding: 15px 50px
			margin: 0 auto
			margin-top: 75px
			display: block
			margin: 
		.to-in, .from-in
			padding: 5px 0
		.checkbox
			padding: 20px
		

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.teaser .row > *:nth-child(3) .item::before
		display: none
	.teaser .item::before
		bottom: -36px
		font-size: 100px
		left: -10px
	.fill .wrap-row .wrap-cell 
		.info
			margin-top: -50px
		.form
			padding: 60px 15px
			.submit
				margin-top: 125px
			input
				top: -100px
			.checkbox
				min-height: 235px
				ul
					display: block

			
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.fill .wrap-row .wrap-cell
		padding-top: 15px
	#page .teaser
		.item

		.row > *
			&:nth-child(3) .item::before
				display: block
			.item
				padding: 0
				padding: 30px 0
				text-align: center
				background: linear-gradient(to bottom, #028944, #4E838A)
				&::before
					transform: rotate(90deg)
					left: 15px
					right: 0
					width: 50px
					bottom: 45px
					margin: 0 auto
	#content .fill .wrap-row .wrap-cell .form
		margin: 0 10px
		input, .checkbox
			display: block
			top: auto
			text-align: center
			margin: 0 auto
			padding: 5px 50px
		.checkbox
			border: none
			min-height: auto
			margin: 10px auto
			ul
				display: inline-block

			input
				display: none
		.submit
			margin: 25px auto 10px
			text-transform: capitalize
		.info p
			font-size: 12px

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	#content .fill .wrap-row .wrap-cell .form 
		input
			padding: 5px 0
		.submit
			padding: 5px 10px
	.choice-count .item 
		img
			width: 33px
			height: 17px
		h3
			font-size: 12px
			top: -4px
	#colophon .item ul
		font-size: 12px
		margin-right: 25px
		min-width: auto

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

