@import "bourbon/bourbon.scss"
@import "vars.sass"
@import "fonts"


html
	font-size: 14px
body
	font-size: 14px
	min-width: 320px
	line-height: 1.5
	font-family: "Roboto", sans-serif
	overflow-x: hidden
	background-color: #fff
	margin: 0


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline
h1
	font-size: 3em
.header-main
	position: relative
.text-right
	text-align: right
.text-left
	text-align: left
.text-center
	text-align: center
.hidden
	display: none
#masthead
	position: relative
	background-image: url('../img/money.jpg')
	background-size: cover
	position: relative
	&::before
		content: ''
		position: absolute
		display: block
		width: 100%
		height: 100%
		background: rgba(82,137,168,0.5)
	.title-wrap
		margin-top: 15%
		margin-bottom: 20%
		text-align: center
		color: #2fe371
		text-shadow: 3px 3px 2px #000

.site-header .logo
	& *
		display: inline-block
	img
		width: 50px
	.site-title

.top-line
	display: block
	background: #5289a8
	width: 100%
#page .site-header .header-main .main-navigation

	li
		background: #5289a8
		padding: 5px 0
	a
		background-color: transparent
		border: none
.teaser

	background: #028944
	.container
		width: auto
		border: 3px solid #d3e3e0
	.row > *
		padding: 0
		&:first-child
			.item
				border-left: none
				&::before
					display: none
		.item-content p
			font-size: 12px
		&:last-child .item
			border-right: none

	.item
		color: #f1f1f1
		height: 80px
		position: relative
		padding-left: 30px
		h3
			color: #f1f1f1
		&::before
			position: absolute
			content: '›'
			bottom: -81px
			left: -50px
			color: #d3e3e0
			font-size: 182px

#content
	&::before, &::after
		clear: both
		content: ''
		display: table
a
	outline: none !important
	font-family: "Roboto", sans-serif
	&:hover
		text-decoration: none
strong, b
	font-family: "Roboto", sans-serif
	font-weight: bold
h1, h2, h3, h4, h5, h6, a
	font-family: "Roboto", sans-serif

ul, li
	list-style-type: none
	padding: 0
	margin: 0









.site-header
	
	color: #fff
	
	position: relative
	a
		color: #fff
		text-transform: uppercase
		font-size: 11px
		font-weight: bold
	.header-main


		position: relative
		height: 100%
		.logo
			float: left
			position: relative
			top: 5px
			display: inline-block
			padding-left: 2.7%
			padding-right: 2%
			h3
				font-weight: bold
				font-size: 12px
				font-family: "Times New Roman"
				text-transform: uppercase
				margin: 0
				line-height: 2px

		.toggle_mnu
			display: none
		



		.header-items
			float: right
			
			li
				display: inline-block
				padding: 15px 10px
				vertical-align: middle
			
				
				a
					font-size: 0
					
					padding: 12px
					background-position: 0 0
					border: none
					background-image: url("../img/icons.png")
					transition: all .4s ease
					border-color: #1445ac

					&:hover
						background-color: darken($main-color, 10%)
						border: 1px solid #1445ac
					&:active
						box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)



		.main-navigation
			float: left
			clear: none
			width: auto
			li
				background-color: $main-color
				a
					padding: 10px
					text-transform: uppercase
					
				.sub-menu
					width: auto
					top: 57px

		.nav-menu
			text-align: center
			max-height: 100%
			opacity: 1
			& > li
				display: inline-block
				width: auto
				padding: 15px 0


@import sandwich
.toggle_mnu
	left: -5px
	top: -5px
	position: absolute
	background-color: transparent
	.touch-button
		display: none