@import "bourbon/bourbon"
@import "vars.sass"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

#content

	.secondary-toggle
		display: none
.fill
	display: table
	margin: 0 auto
	background: #eceff2
	width: 100%
	.title
		color: #1d1d1d
	.wrap-row
		display: table-row
		
		.wrap-cell
			display: table-cell
			vertical-align: middle
			padding-top: 50px
			vertical-align: middle
			.form
				border: 2px solid #9a9a9a
				position: relative
				text-align: center
				background-image: url('../img/cart.jpg')
				margin: 0 auto
				margin: 0 40px
				border-radius: 10px
				padding: 100px 15px
				&::before
					content: ''
					position: absolute
					display: block
					width: 100%
					height: 100%
					background: rgba(#403030, 0.3)
					top: 0
					left: 0
				.to-in
					margin-right: -5px
				.from-in
					margin-left: -5px
				input
					padding: 10px 30px
					position: relative
					top: -40px
					background: #cdcdcd
					border-radius: 10px
					border: none
				.submit
					padding: 30px
					margin-left: 10px
					border: none
					background: linear-gradient(to bottom, #FFB200, #d18410)
					text-transform: uppercase
					font-weight: bold
				& > *
					display: inline-block
					font-size: 20px
				.checkbox
					min-height: 120px
					text-align: left
					padding: 40px
					color: #d1d1d1
					position: relative
					z-index: 10
					ul
						display: inline-block
					p
						font-size: 20px
					input
						display: none

					input + label span
						display: inline-block
						width: 40px/*Размер вашей кнопки или чекбокса*/
						height: 40px
						margin: -1px 4px 0 0
						vertical-align: middle
						background-image: url('../img/sprites/spritev.png')
						background-size: cover
						background-position: 0 -74px
						cursor: pointer
					input:checked + label span
						background-image: url('../img/sprites/spritev.png')
						background-position: 0 44px
				.info
					color: #d1d1d1
					margin-top: 10px
					text-align: left
					title
						text-align: left
.red
	font-size: 20px
.choice-count .title h3
	border-color: $main-color
section
	padding: 40px 0
	.title
		text-align: center
		padding: 20px 0
		color: #d1d1d1
		h3
			border-bottom: 1px solid #33251F
			width: 30%
			padding-bottom: 1px
			margin: 0 auto

.choice
	background-image: url('../img/bg-2.jpg')
	position: relative
	.title-choice
		text-align: center
		color: #1d1d1d
	&::before
		background: rgba(255,255,255, 0.8)
		content: ''
		display: block
		margin-top: -40px
		width: 100%
		height: 100%
		position: absolute
	.wrap-c
		position: relative
	p
		padding: 5px 0
	.item-choice
		padding: 20px 0 30px
		border: 1px solid #cdcdcd

		.button
			display: block
			padding: 15px
			width: 90%
			margin: 20px auto
			background: #d1d1d1
			border: none
			border-radius: 3px
.choice-count
	background-image: url('../img/country.jpg')
	background-size: cover
	height: 770px
	.wrap
		display: table
		height: 100%
		margin: 0 auto
		.wrap-center
			display: table-cell
			vertical-align: middle
			text-align: center
		.wrap-r
			display: table-row	
	.item *
		display: inline-block
	.item
		background: #1d1d1d
		display: block
		border: 1px solid $main-color
		padding: 8px 8px 2px
		margin-bottom: 50px
		h3
			position: relative
			margin-left: 5px
			top: -12px

#primary
	width: 75.8%
	float: left
	padding: 0 120px 0 35px
#secondary
	width: 24.2%
	padding: 0 45px 0 10px
	float: left
	height: 100%

#colophon
	padding: 20px 0 0
	background: darken($main-color, 50%)
	.item
		text-align: center
		ul
			display: inline-block
			min-width: 200px
			text-align: left
		li
			width: 70%
			margin: 0 auto
			a

	.title
		text-align: center
		width: 70%
		margin: 0 auto 10px
		h3
			padding-left: 10px
			color: #d1d1d1
			padding-bottom: 3px
			border-bottom: 1px solid $main-color
//ALWAYS END
@import "media"